.nav-container {
  background-color: rgb(124, 202, 228);
  height: 65px;
  width: 100%;
}

.dropbtn {
  /* background-color: #3498db;
  color: white; */
  /* padding: 16px; */
  background-color: rgb(124, 202, 228);
  width: 10rem;
  height: 65px;
  font-size: 16px;
  font-weight: bold;
  color: white;

  /* border: 1px solid black; */
  border: none;
  cursor: pointer;
}

.dropbtn {
  outline: none;
}

.dropbtn:hover,
.dropbtn:active {
  background-color: #9cc1d6;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #dfd9d9;
  /* min-width: 160px; */
  width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 10rem;
  border: none;
  outline: none;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
