.node {
  /* flex: 0 1 auto; */

  width: 25px;
  /* height: 25px; */
  padding-bottom: 2%;

  border: 1px solid black;
}

.start-node {
  background-color: green;
}

.goal-node {
  background-color: red;
}

.wall-node {
  background-color: black;
}

.set-search {
  background-color: lightblue;
}

.set-path {
  background-color: pink;
}

.set-weighted-wall {
  background-color: brown;
}
