.homeScreen {
  background-color: rgb(124, 202, 228);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeScreen__btn {
  color: white;
  font-weight: bolder;
  position: relative;
  margin: 0 10px;
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: rgb(174, 222, 238);
  box-shadow: 2px 2px rgb(120, 169, 185);
  /* background-color: Transparent; */
}
.homeScreen__btn:hover {
  top: 1px;
  box-shadow: 1px 1px rgb(120, 169, 185);
}

.homeScreen__btn:active {
  top: 2px;
  box-shadow: 0px 0px rgb(120, 169, 185);
  background-color: rgb(183, 223, 236);
}
/* .homeScreen__btn {
  display: flex;
  align-content: space-between;
} */
