.nav-container {
  display: flex;
  background-color: rgb(124, 202, 228);
  height: 65px;
  /* flex: 1; */
}

.dropbtn {
  background-color: rgb(124, 202, 228);
  min-width: 10rem;
  height: 65px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.dropbtn {
  outline: none;
}

.dropbtn:hover,
.dropbtn:active {
  background-color: #9cc1d6;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #dfd9d9;
  width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.runButton {
  width: 10rem;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 10rem;
  border: none;
  outline: none;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.runAlgorithm {
  background-color: rgb(124, 202, 228);
  width: 10rem;
  height: 65px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  outline: none;
}

.runAlgorithm:hover,
.runAlgorithm:active {
  background-color: #9cc1d6;
}
